body{
	margin:0;
	padding:0;
	background:grey;
	display:grid;
	font-size:15px;
	font-family: "Tahoma";
}

body{
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 0.5fr 4fr 1fr 1fr 2fr;
	/*grid-template-rows:auto;*/
}

.btn:hover{
	background-color:white !important;
}

.nest .red{
	background-color:#db3328;
}

.nest .blue{
	background-color:#1c64ff;
}

.nest .yellow{
	background-color:#fff68f;
}

.nest .black{
	background-color:black;
	border:2px solid grey;
}

.nest .black a{
	color:white;
}

/* Header Styles 
--------------------------------------------*/
header{
	background-color:lightgrey;
	text-align:center;
	grid-column: 1/4;
	grid-row:1/2;
	border-bottom:5px solid black;
}

header h1{
	margin:0;
}

#start-game{
	background-color:black;
	padding:10px;
	color:grey;
	width:200px;
	border: 3px solid white;
	border-radius:10px;
}

/* Gameboard 
--------------------------------------------*/
.nest{
	background-color:black;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;	
}

.nest div{
	border:4px solid black;
	border-radius:10px;
	background-color:lightgrey;
	text-align:center;
	line-height: 80px;
}

.nest a{
	color:#dbd4e7;
	color:black;
	text-decoration:none;
}

/* Blue Team
--------------------------------------------*/
#blue-team{
	grid-column:1/2;
	grid-row:2/span 4;
	background-color:#1c64ff;
	text-align:center;
	border-right:5px solid black;
	color:lightblue;
}

#blue-spy{
	border:2px solid grey;
	padding:10px;
	color:grey;
	background-color:lightblue;
}

#blue-spy-message {
	text-align:center;
	grid-column:1/2;
	grid-row:4/5;
	color:blue;
	background-color:lightblue;
	border:3px solid black;
}

.hide{
	display:none;
}

#blue-spy-message span{
	color:grey;
}

/* Red Team
--------------------------------------------*/
#red-team{
	/* grid area: row start / col start / row end / col end */
	grid-area: 2 / 3 / 5 / 4;
	background-color:#db3328;
	text-align:center;
	border-left:5px solid black;
	color:pink;
}

#red-spy{
	border:2px solid grey;
	padding:10px;
	color:grey;
	background-color:pink;
}

#red-spy-message {
	text-align:center;
	grid-column:3/4;
	grid-row:4/5;
	color:red;
	background-color:pink;
	border:3px solid black;
}

#red-spy-message span{
	color:grey;
}

/* Spectators 
--------------------------------------------*/
#spectators{
	grid-column:1/4;
	grid-row:5/6;
	background-color:green;
	text-align:center;
	border-top: 5px solid black;
}

#spectators li{
	display:inline-block;
}

#spectators ul{
}

#red{
	border:2px solid black;
	padding:10px;
	color:red;
	border-radius:10px;
	background-color:pink;
	width:130px;
}

#blue{
	border:2px solid black;
	border-radius: 10px;
	padding: 10px;
	color:blue;	
	background-color:lightblue;
	width:130px;
}


#name{
	height:30px;
}

#spectators #name_btn{
	border:2px solid black;
	padding:10px;
	color:green;
}

#spectators #red{
	/* grid area: row start / col start / row end / col end 
	grid-area: 5 / 3 / 6 / 4;*/
	float:right;	
}

#spectators #blue{
	float:left;
}

#spectators #players h3{
	display:inline;
	margin-bottom:5px;
	color:white;
}

/* Instructions 
--------------------------------------------*/
#instructions{
	background-color:orange;
	border:2px solid black;
	text-align:center;
}

/* Hints
--------------------------------------------*/
.nest2{
	border:2px solid black;
	background-color:purple;
	text-align:center;
}
